<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


	<bean id="usersService" class="com.sokolik.banking.service.impl.UsersServiceImpl">
		<property name="usersDao" ref="usersDao" />
	</bean>
	<bean id="usersInfoService" class="com.sokolik.banking.service.impl.UsersInfoServiceImpl">
		<property name="usersInfoDao" ref="usersInfoDao" />
	</bean>
	<bean id="delUsersService" class="com.sokolik.banking.service.impl.DelUsersServiceImpl">
		<property name="delUsersDao" ref="delUsersDao" />
	</bean>
	<bean id="bankingCardsService" class="com.sokolik.banking.service.impl.BankingCardsServiceImpl">
		<property name="bankingCardsDao" ref="bankingCardsDao" />
	</bean>
	<bean id="transactionsService" class="com.sokolik.banking.service.impl.TransactionsServiceImpl">
		<property name="transactionsDao" ref="transactionsDao" />
	</bean>

</beans>








